<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

  <!-- settings (카멜케이스 세팅) -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- typeAliases (별칭으로 경로 변수처리)-->
  <typeAliases>
    <typeAlias alias="ContactDto" type="com.gdu.prj05.dto.ContactDto"/>
  </typeAliases>
  
</configuration>